.header-top.header-top-mod
    .inner
        .container-fluid
            .row
                .dib.dib-left
                    a.logo(href="#")
                        img(src="img/raster/logofoot.png")
                .dib.dib-mid
                    .header-mnu.clearfix
                        ul
                            li
                                a(href="#" target="_blank")
                                    span ПОСЕЛКИ
                                    i.fa.fa-caret-down
                                ol
                                    li
                                        a(href="#")
                                            i.fa.fa-caret-right
                                            | ПОСЕЛКИ 1
                                    li
                                        a(href="#")
                                            i.fa.fa-caret-right
                                            | ПОСЕЛКИ 2
                                    li
                                        a(href="#")
                                            i.fa.fa-caret-right
                                            | ПОСЕЛКИ 3
                            li
                                a(href="#" target="_blank")
                                    span ПОИСК
                            li
                                a(href="#" target="_blank")
                                    span УСЛУГИ
                            li
                                a(href="#" target="_blank")
                                    span АКЦИИ
                            li
                                a(href="#" target="_blank")
                                    span ПОЛЕЗНО
                            li
                                a(href="#" target="_blank")
                                    span КОМПАНИЯ
                            li
                                a(href="#" target="_blank")
                                    span КОНТАКТЫ
                .hamburger.hamburger--collapse
                    .hamburger-box
                        .hamburger-inner
                .dib.dib-right
                    .header-phone
                        .header-phone-left
                            i.icon.icon-phone
                        .header-phone-right
                            span 8 (846) 267-11-67
                            a(href="#") Перезвоните мне

