header
    .inner
        .header-top
            .container-fluid
                .row
                    .dib.dib-left
                        a.logo(href="#")
                            img(src="img/raster/logo.png")
                    .dib.dib-mid
                        .header-mnu.clearfix
                            ul
                                li
                                    a(href="#" target="_blank")
                                        span ПОСЕЛКИ
                                        i.fa.fa-caret-down
                                    ol
                                        li
                                            a(href="#")
                                                i.fa.fa-caret-right
                                                |ПОСЕЛКИ 1
                                        li
                                            a(href="#")
                                                i.fa.fa-caret-right
                                                |ПОСЕЛКИ 2
                                        li
                                            a(href="#")
                                                i.fa.fa-caret-right
                                                |ПОСЕЛКИ 3
                                li
                                    a(href="#" target="_blank")
                                        span ПОИСК
                                li
                                    a(href="#" target="_blank")
                                        span УСЛУГИ
                                li
                                    a(href="#" target="_blank")
                                        span АКЦИИ
                                li
                                    a(href="#" target="_blank")
                                        span ПОЛЕЗНО
                                li
                                    a(href="#" target="_blank")
                                        span КОМПАНИЯ
                                li
                                    a(href="#" target="_blank")
                                        span КОНТАКТЫ
                    .hamburger.hamburger--collapse
                        .hamburger-box
                            .hamburger-inner
                    .dib.dib-right
                        .header-phone
                            .header-phone-left
                                i.icon.icon-phone
                            .header-phone-right
                                span 8 (846) 267-11-67
                                a(href="#") Перезвоните мне
        .header-content
            .container-fluid
                .row
                    .col-md-5
                        h1
                            | Участки от собственника
                            | в Заокском районе
                            | по Симферопольскому
                            | шоссе!
                        h6
                            | Выберите участок в одном из наших
                            | 11 поселков  (100 км от Москвы по М2)
                        a.btn.btn-green(href="#" target="_blank")
                            span.span-text Выбрать участок
                            span.span-green
                                i.icon.icon-galblack
                    .col-md-7
                        .main-slider
                            ul#main-slider.gallery.content-slider.list-unstyled.clearfix
                                li
                                    img(src="img/raster/slide1.jpg")
                                li
                                    img(src="img/raster/slide2.jpg")
                                li
                                    img(src="img/raster/slide3.jpg")
                                li
                                    img(src="img/raster/slide4.jpg")