doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header2
        section.content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crubms
                                a(href="#") Главная
                                span /
                                a(href="#") Акции
                    .row
                        .col-md-8.col-md-push-4
                            .uslugi-main
                                h2 Новости
                                .sale-radio
                                    .sale-radio-item
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p Показать только действующие акции
                                    .sale-radio-item
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p Показать все акции
                                .akc-content
                                    .akc-item.akc-item-left
                                        h3 Запускаем весенние
                                            br
                                            |распродажи
                                        img(src="img/raster/akc1.jpg")
                                        a.btn.btn-slider(href="#")
                                            span.span-t Подробнее
                                            span.span-plus
                                                i.icon
                                    .akc-item
                                        h3 Старт продаж в поселке
                                            br
                                            |Вороново
                                        img(src="img/raster/akc2.jpg")
                                        a.btn.btn-slider(href="#")
                                            span.span-t Подробнее
                                            span.span-plus
                                                i.icon
                                .akc-bg
                                    .row
                                        .col-md-6
                                            h4
                                                | Будьте первым,
                                                | кто узнает о наших акциях
                                            h6 Подпишитесь на рассылку
                                        .col-md-6
                                            a.btn.btn-green(href="#")
                                                span.span-text Подписаться на акции
                                                span.span-green
                                                    i.icon.icon-galblack
                                .akc-content
                                    .akc-item.akc-item-left.akc-active
                                        h3 Запускаем весенние
                                            br
                                            | распродажи
                                        img(src="img/raster/akc1.jpg")
                                        a.btn.btn-slider(href="#")
                                            span.span-t Подробнее
                                            span.span-plus
                                                i.icon
                                    .akc-item.akc-active
                                        h3 Старт продаж в поселке
                                            br
                                            | Вороново
                                        img(src="img/raster/akc2.jpg")
                                        a.btn.btn-slider(href="#")
                                            span.span-t Подробнее
                                            span.span-plus
                                                i.icon
                                .news-nav-block
                                .news-nav
                                    a.news-nav-a.news-nav-left
                                        i.icon
                                    ul.clearfix
                                        li
                                            a(href="#") 1
                                        li
                                            a(href="#") 2
                                        li
                                            a(href="#") 3
                                        li
                                            a(href="#") 4
                                        li
                                            a(href="#") 5
                                    a.news-nav-a.news-nav-right
                                        i.icon
                                .news-nav-block-mod
                                h2 Сео Текст. Как выбрать участок для постройки дома?
                                p
                                    | Продается участок 10 соток, в 90 километрах от МКАДа, в Заокском районе Тульской области. Участок расположен на вершине холма с потрясающим панорамным видом,
                                    |  а в 5 минутах ходьбы от участка находится небольшая частная конюшня. Деревня называется Верхнее Романово.
                                    | К участку уже подведено электричество, газ - в 50 метрах от участка.
                                    | Участок находится на вершине холма, поэтому участок сухой, вода на нем не застаивается. И потрясающий панорамный вид, причем в разные стороны.Продается участок 10 соток, в 90 километрах от МКАДа, в Заокском районе Тульской области. Участок расположен на вершине холма с потрясающим панорамным видом,
                                .uslugi-main-block.clearfix
                                    a.uslugi-main-item(href="#")
                                        img(src="img/raster/dom4.jpg")
                                        span Проекты домов
                                            br
                                            | от наших партнеров
                                    a.uslugi-main-item(href="#")
                                        img(src="img/raster/dom5.jpg")
                                        span Инженерные
                                            br
                                            | коммуникации
                                    a.uslugi-main-item(href="#")
                                        img(src="img/raster/dom6.jpg")
                                        span Колодцы
                                            br
                                            | и скважины
                                h2 Обустройство участка
                                p
                                    | Продается участок 10 соток, в 90 километрах от МКАДа, в Заокском районе Тульской области. Участок расположен на вершине холма с потрясающим панорамным видом,
                                    |  а в 5 минутах ходьбы от участка находится небольшая частная конюшня. Деревня называется Верхнее Романово.
                        .col-md-4.col-md-pull-8
                            .uslugi-mnu.uslugi-mnu-mod
                                h4 Поселки
                                .pos-block
                                    a(href="#").pos-item
                                        .pos-item-all.pos-item-left
                                            img(src="img/raster/s1.jpg")
                                        .pos-item-all.pos-item-right
                                            h6 Вороново
                                            p СНТ
                                                br
                                                |от  10 000 за сотку
                                    a(href="#").pos-item
                                        .pos-item-all.pos-item-left
                                            img(src="img/raster/s2.jpg")
                                        .pos-item-all.pos-item-right
                                            h6 Каменка
                                            p СНТ
                                                br
                                                | от  10 000 за сотку
                                    a(href="#").pos-item
                                        .pos-item-all.pos-item-left
                                            img(src="img/raster/s1.jpg")
                                        .pos-item-all.pos-item-right
                                            h6 Вороново
                                            p СНТ
                                                br
                                                | от  10 000 за сотку
                                    a.a-t-g(href="#") Посмотреть все поселки
                                h4 Дополнительные
                                    br
                                    |услуги
                                .dop-block
                                    a.dop-item(href="#")
                                        .dop-item-all.dop-item-left.dop-item-left-1
                                            i.icon
                                        .dop-item-all.dop-item-right
                                            p Электричество
                                    a.dop-item(href="#")
                                        .dop-item-all.dop-item-left.dop-item-left-2
                                            i.icon
                                        .dop-item-all.dop-item-right
                                            p Строительство
                                                br
                                                |домов
                                    a.dop-item(href="#")
                                        .dop-item-all.dop-item-left.dop-item-left-3
                                            i.icon
                                        .dop-item-all.dop-item-right
                                            p Колодцы
                                    a.dop-item(href="#")
                                        .dop-item-all.dop-item-left.dop-item-left-4
                                            i.icon
                                        .dop-item-all.dop-item-right
                                            p Юридические
                                                br
                                                |услуги
                                h4 Вторичная
                                    br
                                    |недвижимость
                                .pos-block
                                    a(href="#").pos-item
                                        .pos-item-all.pos-item-left
                                            img(src="img/raster/s1.jpg")
                                        .pos-item-all.pos-item-right
                                            h6 Вороново
                                            p СНТ
                                                br
                                                | от  10 000 за сотку
                                    a(href="#").pos-item
                                        .pos-item-all.pos-item-left
                                            img(src="img/raster/s2.jpg")
                                        .pos-item-all.pos-item-right
                                            h6 Каменка
                                            p СНТ
                                                br
                                                | от  10 000 за сотку
                                    a.a-t-g(href="#") Посмотреть все поселки
        include _footer