doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header3
        section.kilo.kilo-after
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .h2-all
                                h6 01
                                h2 Описание поселка  Каменка
                    .row
                        .kamen-content
                            .col-md-6
                                h6
                                    |Поселок Вороново расположен в 120 километрах от МКАДа по Симферопольскому шоссе.
                                    span На машине ехать часа полтора, на электричке 2,5 часа.
                                p
                                    | Все участки в Вороново относятся к категории ИЖС, это значит, что можно жить постоянно, прописываться и не платить никаких ежемесячных взносов.
                                p
                                    |На сегодня в Вороново самые выгодные участки ИЖС с точки зрения финансов. Цены начинаются от 10 000 рублей за сотку.
                                p
                                    | На сегодняшний день (июнь 2016) поселку исполнилось полтора года. За это время мы сделали дороги, электричество
                                    | и подготовили документы.  Многие наши покупатели активно строятся, уже даже есть свой собственный магазин
                            .col-md-6
                                .kamen-content-r
                                    .kamen-item
                                        .kamen-item-img
                                            img(src="img/icons/kamen1.png")
                                        .kamen-item-con
                                            h5 Электричество
                                            p
                                                | Отыспаны щебневые
                                                | дороги внутри
                                                | поселка
                                    .kamen-item
                                        .kamen-item-img
                                            img(src="img/icons/kamen2.png")
                                        .kamen-item-con
                                            h5 Пруд, река
                                            p
                                                | от 107 000 руб
                                                | за участок
                                    .kamen-item
                                        .kamen-item-img
                                            img(src="img/icons/kamen3.png")
                                        .kamen-item-con
                                            h5 Дорога
                                            p
                                                | Час езды на маши не
                                                | или два на электричке
                                    .kamen-item
                                        .kamen-item-img
                                            img(src="img/icons/kamen4.png")
                                        .kamen-item-con
                                            h5 Лес, роща
                                            p
                                                | Отыспаны щебневые
                                                | дороги внутри
                                                | поселка
                                    .kamen-item
                                        .kamen-item-img
                                            img(src="img/icons/kamen5.png")
                                        .kamen-item-con
                                            h5 Ж/Д станция
                                            p
                                                | Час езды на маши не
                                                | или два на электричке
                                    .kamen-item
                                        .kamen-item-img
                                            img(src="img/icons/kamen6.png")
                                        .kamen-item-con
                                            h5 Газ
                                            p
                                                | Отыспаны щебневые
                                                | дороги внутри
                                                | поселка
        section.gall.line-af
            .line-af-block
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .h2-all
                                h6 02
                                h2 Галерея
            .gal-slider
                ul#gal-slider.gallery.content-slider.list-unstyled.clearfix
                    li.item-a
                        .gsl-sm
                            img(src="img/raster/gsl1.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                        .gsl-sm
                            img(src="img/raster/gsl2.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                    li.item-b
                        .gsl-bg
                            img(src="img/raster/gsl3.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                    li.item-a
                        .gsl-sm
                            img(src="img/raster/gsl4.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                        .gsl-sm
                            img(src="img/raster/gsl5.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                    li.item-a
                        .gsl-sm
                            img(src="img/raster/gsl6.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                        .gsl-sm
                            img(src="img/raster/gsl7.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                    li.item-b
                        .gsl-bg
                            img(src="img/raster/gsl3.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                    li.item-a
                        .gsl-sm
                            img(src="img/raster/gsl1.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                        .gsl-sm
                            img(src="img/raster/gsl2.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                    li.item-b
                        .gsl-bg
                            img(src="img/raster/gsl3.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                    li.item-a
                        .gsl-sm
                            img(src="img/raster/gsl4.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                        .gsl-sm
                            img(src="img/raster/gsl5.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                    li.item-a
                        .gsl-sm
                            img(src="img/raster/gsl6.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                        .gsl-sm
                            img(src="img/raster/gsl7.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                    li.item-b
                        .gsl-bg
                            img(src="img/raster/gsl3.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                    li.item-a
                        .gsl-sm
                            img(src="img/raster/gsl1.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                        .gsl-sm
                            img(src="img/raster/gsl2.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                    li.item-b
                        .gsl-bg
                            img(src="img/raster/gsl3.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                    li.item-a
                        .gsl-sm
                            img(src="img/raster/gsl4.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                        .gsl-sm
                            img(src="img/raster/gsl5.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                    li.item-a
                        .gsl-sm
                            img(src="img/raster/gsl6.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                        .gsl-sm
                            img(src="img/raster/gsl7.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                    li.item-b
                        .gsl-bg
                            img(src="img/raster/gsl3.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                    li.item-a
                        .gsl-sm
                            img(src="img/raster/gsl1.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                        .gsl-sm
                            img(src="img/raster/gsl2.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                    li.item-b
                        .gsl-bg
                            img(src="img/raster/gsl3.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                    li.item-a
                        .gsl-sm
                            img(src="img/raster/gsl4.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                        .gsl-sm
                            img(src="img/raster/gsl5.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                    li.item-a
                        .gsl-sm
                            img(src="img/raster/gsl6.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                        .gsl-sm
                            img(src="img/raster/gsl7.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
                    li.item-b
                        .gsl-bg
                            img(src="img/raster/gsl3.jpg")
                            .gsl-sm-hidden
                                .gsl-sm-hidden-top
                                    h4 Дом на колесах
                                    p
                                        | На сегодняшний день (июнь 2016) поселку исполнилось полтора года.
                                .gsl-sm-hidden-bot
                                    a(href="#") Подробнее
        section.maps.line-af
            .line-af-block
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .h2-all
                                h6 03
                                h2 Генплан застройки поселка Каменка
                            img(src="img/raster/maps.jpg")
                            .h2-all
                                h6 04
                                h2 Подобрать участок по параметмрам
                    .uchastok-content
                        .row
                            .col-lg-4
                                form
                                    input(type="hidden" name="form_subject" value="Перезвоните через 29 секунд")
                                    h5 Площадь участка
                                    .uch-block
                                        input(type="text" name="ploshad" placeholder="от 1 сотки")
                                        span до
                                        input(type="text" name="ploshad" placeholder="до 455 соток")
                                    h5 Цена участка
                                    .uch-block
                                        input(type="text" name="ploshad" placeholder="от 0")
                                        span до
                                        input(type="text" name="ploshad" placeholder="до 40 000 000")
                                    button.btn.btn-green.btn-green-sp
                                        span.span-text Подобрать участок
                                        span.span-green
                                            i.icon.icon-galblack
                            .col-lg-8
                                .uch-top
                                    h6
                                        | Номер
                                        br
                                        | участка
                                    h6
                                        | Площадь,
                                        br
                                        | сотка
                                    h6
                                        | Стоимость
                                        br
                                        | сотки
                                    h6
                                        | Стоимость
                                        br
                                        | участка
                                .uch-l
                                    p
                                        |1
                                    p
                                        |20
                                    p
                                        |10 000
                                    p
                                        |200 000
                                    a.btn.btn-uch(href="#") Записаться на просмотр
                                .uch-l
                                    p
                                        | 234
                                    p
                                        | 30
                                    p
                                        | 12 000
                                    p
                                        | 360 000
                                    a.btn.btn-uch(href="#") Записаться на просмотр
                                .uch-l
                                    p
                                        | 14
                                    p
                                        | 20
                                    p
                                        | 10 000
                                    p
                                        | 200 000
                                    a.btn.btn-uch(href="#") Записаться на просмотр
                    .uchastok-an
                        .row
                            .col-md-12
                                .uch-an-item
                                    h4
                                        | Деревня на
                                        | кадастровой карте
                                    a.btn.btn-an(href="#") Посмотреть на Rosreestr.ru
                                img(src="img/raster/kar.png")
        section.view.line-af
            .line-af-block
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .view-item.form-block
                                h2
                                    | Хотите получить участок со скидкой до 43%
                                    | Подпишитесь на наши ежемесячные акции
                                p
                                    | и будете одним из первых узнавать о всех скидках
                                    br
                                    | и спецпредложениях
                                form.form-shake
                                    .field
                                        input(type="text" placeholder="Введите ваш е-mail" required name="e-mail").btn.btn-white
                                    button.btn.btn-green(name="send")
                                        span.span-text Заказать звонок
                                        span.span-green
                                            i.icon.icon-galblack

        section.vopros.line-af
            .line-af-block
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .h2-all
                                h6 05
                                h2 Мы поможем решить все вопросы
                                p Часто возникают вопросы которые лучше решать сразу:)
                            .vopros-content
                                .vopros-item
                                    h4 Обустройство
                                        br
                                        |участка
                                    img(src="img/raster/vop1.jpg")
                                    p Дома, дачи и участки в Заокском районе, но не только в наших поселках. Это объекты, хозяева которых обратились нам как к агентству недвижимости. Выберите в общем каталоге то, что вам больше понравится!
                                    .knopka-con
                                        a.btn.btn-slider(href="#")
                                            span.span-t Подробнее
                                            span.span-plus
                                                i.icon
                                .vopros-item
                                    h4 Строительство
                                        br
                                        | дома
                                    img(src="img/raster/vop2.jpg")
                                    p Дома, дачи и участки в Заокском районе, но не только в наших поселках. Это объекты, хозяева которых обратились нам как к агентству недвижимости. Выберите в общем каталоге то, что вам больше понравится!
                                    .knopka-con
                                        a.btn.btn-slider(href="#")
                                            span.span-t Подробнее
                                            span.span-plus
                                                i.icon
                                .vopros-item
                                    h4 Юридические
                                        br
                                        | услуги
                                    img(src="img/raster/vop3.jpg")
                                    p Дома, дачи и участки в Заокском районе, но не только в наших поселках. Это объекты, хозяева которых обратились нам как к агентству недвижимости. Выберите в общем каталоге то, что вам больше понравится!
                                    .knopka-con
                                        a.btn.btn-slider(href="#")
                                            span.span-t Подробнее
                                            span.span-plus
                                                i.icon

        section.co-block.line-af
            .line-af-block
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .h2-all
                                h6 06
                                h2 Стоимость
                                p Часто возникают вопросы которые лучше решать сразу:)
                            .co-content
                                .co-item.co-item-1
                                    h4
                                        img(src="img/raster/co1.png")
                                        span Cтоимость
                                            | участка
                                    p
                                        | Стоимость участка складывается из трех частей - цена за сотку, оплата подведенных коммуникаций (дороги электричество) и оформление
                                        | документов. Эту сумму вы выплачиваете
                                        | при переоформлении участка на вас.
                                    h6 Цены в поселке Каменка (руб.)
                                    .co-text
                                        .co-line
                                            span.left Цена за сотку
                                            span.right 6 000 - 20 000
                                        .co-line
                                            span.left Электричество
                                            span.right 7 000
                                        .co-line
                                            span.left дороги (щебень)
                                            span.right 48 000
                                        .co-line
                                            span.left охрана, вывоз мусора
                                            span.right 1 000
                                        .co-line
                                            span.left оформление документов
                                            span.right 9 000
                                .co-item.co-item-2
                                    .co-item-block.co-item-block-top
                                        h4
                                            img(src="img/raster/co2.png")
                                            span Сделка
                                                | через ячейку
                                        p
                                            | Для вашего удобства у нас есть возможность
                                            | провести сделку через банковскую ячейку.
                                        p
                                            | Если вы хотите перестраховаться и провести
                                            | сделку через банк - этот вариант для вас.
                                    .co-item-block.co-item-block-bot
                                        h4
                                            img(src="img/raster/co2.png")
                                            span Рассрочка
                                                | 0%
                                        p
                                            | Вы можете приобрести у нас участок в беспроцентную рассрочку.
                                            | Стоимость участка для вас не меняется, но вы можете не выплачивать всю сумму сразу, а ежемесячно равными частями в течении полугода. Так, например, если участок стоит 150 000 рублей, вы можете выплачивать по 25 т.р. в месяц.
        section.final-sp.line-af
            .line-af-block
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .h2-all
                                h6 07
                    .row
                        .col-md-6
                            .final-sp-left
                                h4 Образцы документов
                                p
                                    | Это документы на один из участков в поселке Каменка.
                                    | Также вы можете прочитать нашу статью о том,
                                    | какие нужны документы для проведения сделки.
                                img(src="img/raster/ser1.png")
                                img(src="img/raster/ser2.png")
                                img(src="img/raster/ser3.png")
                        .col-md-6
                            .final-sp-right
                                h4 Ваш консультант по поселку
                                .final-sp-right-item.final-sp-right-item-1
                                    img(src="img/raster/lico.png")
                                .final-sp-right-item.final-sp-right-item-2
                                    .h5-block
                                        span
                                            i.icon.icon-phgr
                                        h5 +7 (920)759-75-75
                                    p
                                        | Я не ходячая энциклопедия, но я знаю все
                                        | об участках в Заокском районе. Подскажу
                                        | по электричеству, газу, воде, дорогам, оформлению. Вы можете со мной посоветоваться даже если покупаете
                                        | участок не у нас.
                                    p
                                        span P.S. и если нужна СКИДКА, то
                                            |Вам точно ко мне!
        section.slider-hot.video.line-af.video-white
            .line-af-block
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .h2-all
                                h6 08
                                h2 Видеоэкскурсия
                                p Посмотрите что снимают владельцы участков и коттеджей
            .slider-hot-block
                ul#video-slider.gallery.content-slider.list-unstyled.clearfix
                    li
                        .slider-hot-item
                            img(src="img/raster/video1.jpg")
                            .slider-hot-content
                                h4 Сбрасываем цены на ИЖС
                                p Последний шанс купить участок в Вороново по самой низкой цене! 10 000 за сотку !
                            a.btn.btn-slider(href="#")
                                span.span-t Смотреть ролик
                                span.span-plus
                                    i.icon
                    li
                        .slider-hot-item
                            img(src="img/raster/video2.jpg")
                            .slider-hot-content
                                h4 Как сэкономить при покупке участка?
                                p Скидка на участок в эко поселке Тетерево !  Участок окружен березами, неподалеку находиться Велегож парк и река Ока . Без ежемесячных сборов.
                            a.btn.btn-slider(href="#")
                                span.span-t Смотреть ролик
                                span.span-plus
                                    i.icon
                    li
                        .slider-hot-item
                            img(src="img/raster/video3.jpg")
                            .slider-hot-content
                                h4 19 000 сотка!
                                    br
                                    | В эко поселке около оки!
                                p Последний шанс купить участок в Вороново по самой низкой цене! 10 000 за сотку !
                            a.btn.btn-slider(href="#")
                                span.span-t Смотреть ролик
                                span.span-plus
                                    i.icon
                    li
                        .slider-hot-item
                            img(src="img/raster/hot1.jpg")
                            .slider-hot-content
                                h4 Сбрасываем цены на ИЖС
                                p Последний шанс купить участок в Вороново по самой низкой цене! 10 000 за сотку !
                            a.btn.btn-slider(href="#")
                                span.span-t Смотреть ролик
                                span.span-plus
                                    i.icon
                    li
                        .slider-hot-item
                            img(src="img/raster/hot1.jpg")
                            .slider-hot-content
                                h4 Сбрасываем цены на ИЖС
                                p Последний шанс купить участок в Вороново по самой низкой цене! 10 000 за сотку !
                            a.btn.btn-slider(href="#")
                                span.span-t Смотреть ролик
                                span.span-plus
                                    i.icon
                    li
                        .slider-hot-item
                            img(src="img/raster/hot1.jpg")
                            .slider-hot-content
                                h4 Сбрасываем цены на ИЖС
                                p Последний шанс купить участок в Вороново по самой низкой цене! 10 000 за сотку !
                            a.btn.btn-slider(href="#")
                                span.span-t Смотреть ролик
                                span.span-plus
                                    i.icon
                a.hot-a-all.hot-a-left.video-a-prev
                    i.icon
                a.hot-a-all.hot-a-right.video-a-next
                    i.icon
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .hot-btn
                                a.btn.btn-tran(href="#")
                                    span.span-text Смотреть всё видео
                                    span.span-green
                                        i.icon
        section.clients.line-af.grey-bg
            .line-af-block
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .h2-all
                                h6 09
                                h2 Отзывы наших клиентов
                    .row
                        .clients-content
                            .col-sm-6
                                .clients-item
                                    .clients-item-block.clients-item-block-left
                                        img(src="img/raster/cl1.jpg")
                                    .clients-item-block.clients-item-block-right
                                        .clients-item-header
                                            h3 Андрей
                                            p Владелец участков в поселке Давыдовское
                                        .clients-item-content
                                            h4 Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции способствует подготовки и реализации систем массового участия.
                                            p
                                                span Дата работ:
                                                |  01. 02. 2017
                                .clients-item
                                    .clients-item-block.clients-item-block-left
                                        img(src="img/raster/cl2.jpg")
                                    .clients-item-block.clients-item-block-right
                                        .clients-item-header
                                            h3 Марина
                                            p Владелец участка в СНП "Земляничное"
                                        .clients-item-content
                                            h4 Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции способствует подготовки и реализации систем массового участия.
                                            p
                                                span Дата работ:
                                                |  01. 02. 2017
                            .col-sm-6
                                .clients-item
                                    .clients-item-block.clients-item-block-left
                                        img(src="img/raster/cl3.jpg")
                                    .clients-item-block.clients-item-block-right
                                        .clients-item-header
                                            h3 Светлана и Вадим
                                            p Владельцы участка в ДНП "Каменка"
                                        .clients-item-content
                                            h4 Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции способствует подготовки и реализации систем массового участия.
                                            p
                                                span Дата работ:
                                                |  01. 02. 2017
                                .clients-item
                                    .clients-item-block.clients-item-block-left
                                        img(src="img/raster/cl3.jpg")
                                    .clients-item-block.clients-item-block-right
                                        .clients-item-header
                                            h3 Светлана и Вадим
                                            p Владельцы участка в ДНП "Каменка"
                                        .clients-item-content
                                            h4 Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции способствует подготовки и реализации систем массового участия.
                                            p
                                                span Дата работ:
                                                |  01. 02. 2017
                    .row
                        .col-md-12
                            .hot-btn
                                a.btn.btn-tran(href="#")
                                    span.span-text Загрузить еще отзывы
                                    span.span-green
                                        i.icon
        section.girl
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .girl-block.form-block
                                h2
                                    strong Позвоните нам,
                                        br
                                        |мы расскажем больше
                                    br
                                    | чем эта страница
                                .h5-block
                                    span
                                        i.icon.icon-ph
                                    h5 +7 (920)759-75-75
                                form.form-shake
                                    input(type="hidden" name="form_subject" value="Перезвоните через 29 секунд")
                                    .field
                                        input.btn-trgr(type="text" name="phone" placeholder="Перезвоним через 29 секунд" required=)
                                    button.btn.btn-green.btn-green-sp(name="send")
                                        span.span-text Заказать звонок
                                        span.span-green
                                            i.icon.icon-galblack
        include _footer
