doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header
        section.kilo.kilo-after
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .h2-all
                                h6 01
                                h2 Преимущества работы с нами
                                p Мега крутой продающий подзаголовок
                    .row
                        .col-md-12
                            .kilo-content
                                .kilo-item
                                    .kilo-img.kilo-img-1
                                        i.icon
                                    h4 Рассрочка 0%
                                    p от 9 000 руб/мес. за участок
                                .kilo-item
                                    .kilo-img.kilo-img-2
                                        i.icon
                                    h4 Антикризисные цены
                                    p от 107 000 руб за участок
                                .kilo-item
                                    .kilo-img.kilo-img-3
                                        i.icon
                                    h4 100 км от Москвы
                                    p Час езды на машине или два на электричке
                                .kilo-item
                                    .kilo-img.kilo-img-4
                                        i.icon
                                    h4 Чистая экология
                                    p Здоровье вашей семьи
                                .kilo-item
                                    .kilo-img.kilo-img-5
                                        i.icon
                                    h4 Все готово!
                                    p Свет, дороги, документы
        section.poselki.line-af
            .line-af-block
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .h2-all
                                h6 02
                                h2 Выберите поселок или
                                    span закажите
                                    | обратный звонок
                                p Наш менеджер позвонит вам и поможет с выбором поселка
                            .poselki-content
                                .poselki-item
                                    h4 Вороново
                                    img(src="img/raster/pos1.jpg")
                                    h6 Участки ИЖС в Вороново
                                    p Электричество, Ж/Д станция,
                                        | Больница, школа, Прописка
                                    p 120 км от МКАД
                                    p
                                        span От 10000 руб.
                                        |  за сотку
                                    .knopka-con
                                        a.btn.btn-slider(href="#" target="_blank")
                                            span.span-t Смотреть ролик
                                            span.span-plus
                                                i.icon
                                .poselki-item
                                    h4 Каменка
                                    img(src="img/raster/pos2.jpg")
                                    h6 Участки ИЖС в Каменке
                                    p Электричество, Ж/Д станция,
                                        | Больница, школа, Прописка
                                    p 130 км от МКАД
                                    p
                                        span От 6000 руб.
                                        |  за сотку
                                    .knopka-con
                                        a.btn.btn-slider(href="#" target="_blank")
                                            span.span-t Смотреть ролик
                                            span.span-plus
                                                i.icon
                                .poselki-item
                                    h4 Русятино 2
                                    img(src="img/raster/pos3.jpg")
                                    h6 Участки ИЖС в Вороново
                                    p Электричество, Ж/Д станция,
                                        | Больница, школа, Прописка
                                    p 120 км от МКАД
                                    p
                                        span От 10000 руб.
                                        |  за сотку
                                    .knopka-con
                                        a.btn.btn-slider(href="#" target="_blank")
                                            span.span-t Смотреть ролик
                                            span.span-plus
                                                i.icon
                                .poselki-item
                                    h4 Тетерево
                                    img(src="img/raster/pos4.jpg")
                                    h6 Дачные участки в Тетерево
                                    p Электричество, Ж/Д станция,
                                        | Больница, школа, Прописка
                                    p 120 км от МКАД
                                    p
                                        span От 6000 руб.
                                        |  за сотку
                                    .knopka-con
                                        a.btn.btn-slider(href="#" target="_blank")
                                            span.span-t Смотреть ролик
                                            span.span-plus
                                                i.icon
                                .poselki-item
                                    h4 Сосновая поляна
                                    img(src="img/raster/pos5.jpg")
                                    h6 Участки ИЖС в Вороново
                                    p Электричество, Ж/Д станция,
                                        | Больница, школа, Прописка
                                    p 120 км от МКАД
                                    p
                                        span От 10000 руб.
                                        |  за сотку
                                    .knopka-con
                                        a.btn.btn-slider(href="#" target="_blank")
                                            span.span-t Смотреть ролик
                                            span.span-plus
                                                i.icon
                                .poselki-item
                                    h4 Давыдовское
                                    img(src="img/raster/pos6.jpg")
                                    h6 Участки ИЖС в Каменке
                                    p Электричество, Ж/Д станция,
                                        | Больница, школа, Прописка
                                    p 130 км от МКАД
                                    p
                                        span От 6000 руб.
                                        |  за сотку
                                    .knopka-con
                                        a.btn.btn-slider(href="#" target="_blank")
                                            span.span-t Смотреть ролик
                                            span.span-plus
                                                i.icon
                                .poselki-item
                                    h4 Земляничное
                                    img(src="img/raster/pos7.jpg")
                                    h6 Участки ИЖС в Вороново
                                    p Электричество, Ж/Д станция,
                                        | Больница, школа, Прописка
                                    p 120 км от МКАД
                                    p
                                        span От 10000 руб.
                                        |  за сотку
                                    .knopka-con
                                        a.btn.btn-slider(href="#" target="_blank")
                                            span.span-t Смотреть ролик
                                            span.span-plus
                                                i.icon
                                .poselki-item
                                    h4 Русятино
                                    img(src="img/raster/pos8.jpg")
                                    h6 Дачные участки в Тетерево
                                    p Электричество, Ж/Д станция,
                                        | Больница, школа, Прописка
                                    p 120 км от МКАД
                                    p
                                        span От 6000 руб.
                                        |  за сотку
                                    .knopka-con
                                        a.btn.btn-slider(href="#" target="_blank")
                                            span.span-t Смотреть ролик
                                            span.span-plus
                                                i.icon
                                .poselki-item
                                    h4 Скрипово
                                    img(src="img/raster/pos9.jpg")
                                    h6 Участки ИЖС в Вороново
                                    p Электричество, Ж/Д станция,
                                        | Больница, школа, Прописка
                                    p 120 км от МКАД
                                    p
                                        span От 10000 руб.
                                        |  за сотку
                                    .knopka-con
                                        a.btn.btn-slider(href="#" target="_blank")
                                            span.span-t Смотреть ролик
                                            span.span-plus
                                                i.icon
                                .poselki-item
                                    h4 Пахомово
                                    img(src="img/raster/pos10.jpg")
                                    h6 Участки ИЖС в Каменке
                                    p Электричество, Ж/Д станция,
                                        | Больница, школа, Прописка
                                    p 130 км от МКАД
                                    p
                                        span От 6000 руб.
                                        |  за сотку
                                    .knopka-con
                                        a.btn.btn-slider(href="#" target="_blank")
                                            span.span-t Смотреть ролик
                                            span.span-plus
                                                i.icon
                                .poselki-item
                                    h4 Велегож
                                    img(src="img/raster/pos11.jpg")
                                    h6 Участки ИЖС в Вороново
                                    p Электричество, Ж/Д станция,
                                        | Больница, школа, Прописка
                                    p 120 км от МКАД
                                    p
                                        span От 10000 руб.
                                        |  за сотку
                                    .knopka-con
                                        a.btn.btn-slider(href="#" target="_blank")
                                            span.span-t Смотреть ролик
                                            span.span-plus
                                                i.icon
        section.view.line-af
            .line-af-block
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .view-item.form-block
                                h2
                                    | Посмотрите 5 поселков
                                    br
                                    | за 1 день!
                                .h5-block
                                    span
                                        i.icon.icon-ph
                                    h5 +7 (920)759-75-75
                                form.form-shake
                                    input(type="hidden" name="form_subject" value="Перезвоните через 29 секунд")
                                    .field
                                        input(type="text" placeholder="Перезвоним через 29 секунд" required name="e-mail").btn.btn-white
                                    button.btn.btn-green(name="send")
                                        span.span-text Заказать звонок
                                        span.span-green
                                            i.icon.icon-galblack

        section.slider-hot.line-af
            .line-af-block
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .h2-all
                                h6 03
                                h2 Не пропустите горячие предложения!
                                p Очень ограниченные и достаточно горячие
            .slider-hot-block
                ul#hot-slider.gallery.content-slider.list-unstyled.clearfix
                    li
                        .slider-hot-item
                            img(src="img/raster/hot1.jpg")
                            .slider-hot-content
                                h4 Сбрасываем цены на ИЖС
                                p Последний шанс купить участок в Вороново по самой низкой цене! 10 000 за сотку !
                            a.btn.btn-slider(href="#")
                                span.span-t Подробнее
                                span.span-plus
                                    i.icon
                    li
                        .slider-hot-item
                            img(src="img/raster/hot2.jpg")
                            .slider-hot-content
                                h4 Как сэкономить при покупке участка?
                                p Скидка на участок в эко поселке Тетерево !  Участок окружен березами, неподалеку находиться Велегож парк и река Ока . Без ежемесячных сборов.
                            a.btn.btn-slider(href="#")
                                span.span-t Подробнее
                                span.span-plus
                                    i.icon
                    li
                        .slider-hot-item
                            img(src="img/raster/hot3.jpg")
                            .slider-hot-content
                                h4 19 000 сотка!
                                    br
                                    | В эко поселке около оки!
                                p Последний шанс купить участок в Вороново по самой низкой цене! 10 000 за сотку !
                            a.btn.btn-slider(href="#")
                                span.span-t Подробнее
                                span.span-plus
                                    i.icon
                    li
                        .slider-hot-item
                            img(src="img/raster/hot1.jpg")
                            .slider-hot-content
                                h4 Сбрасываем цены на ИЖС
                                p Последний шанс купить участок в Вороново по самой низкой цене! 10 000 за сотку !
                            a.btn.btn-slider(href="#")
                                span.span-t Подробнее
                                span.span-plus
                                    i.icon
                    li
                        .slider-hot-item
                            img(src="img/raster/hot1.jpg")
                            .slider-hot-content
                                h4 Сбрасываем цены на ИЖС
                                p Последний шанс купить участок в Вороново по самой низкой цене! 10 000 за сотку !
                            a.btn.btn-slider(href="#")
                                span.span-t Подробнее
                                span.span-plus
                                    i.icon
                    li
                        .slider-hot-item
                            img(src="img/raster/hot1.jpg")
                            .slider-hot-content
                                h4 Сбрасываем цены на ИЖС
                                p Последний шанс купить участок в Вороново по самой низкой цене! 10 000 за сотку !
                            a.btn.btn-slider(href="#")
                                span.span-t Подробнее
                                span.span-plus
                                    i.icon
                a.hot-a-all.hot-a-left.hot-a-prev
                    i.icon
                a.hot-a-all.hot-a-right.hot-a-next
                    i.icon
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .hot-btn
                                a.btn.btn-tran(href="#")
                                    span.span-text Смотреть все акции
                                    span.span-green
                                        i.icon
        section.vopros.line-af
            .line-af-block
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .h2-all
                                h6 04
                                h2 Мы поможем решить все вопросы
                                p Часто возникают вопросы которые лучше решать сразу:)
                            .vopros-content
                                .vopros-item
                                    h4 Обустройство
                                        br
                                        |участка
                                    img(src="img/raster/vop1.jpg")
                                    p Дома, дачи и участки в Заокском районе, но не только в наших поселках. Это объекты, хозяева которых обратились нам как к агентству недвижимости. Выберите в общем каталоге то, что вам больше понравится!
                                    .knopka-con
                                        a.btn.btn-slider(href="#")
                                            span.span-t Подробнее
                                            span.span-plus
                                                i.icon
                                .vopros-item
                                    h4 Строительство
                                        br
                                        | дома
                                    img(src="img/raster/vop2.jpg")
                                    p Дома, дачи и участки в Заокском районе, но не только в наших поселках. Это объекты, хозяева которых обратились нам как к агентству недвижимости. Выберите в общем каталоге то, что вам больше понравится!
                                    .knopka-con
                                        a.btn.btn-slider(href="#")
                                            span.span-t Подробнее
                                            span.span-plus
                                                i.icon
                                .vopros-item
                                    h4 Юридические
                                        br
                                        | услуги
                                    img(src="img/raster/vop3.jpg")
                                    p Дома, дачи и участки в Заокском районе, но не только в наших поселках. Это объекты, хозяева которых обратились нам как к агентству недвижимости. Выберите в общем каталоге то, что вам больше понравится!
                                    .knopka-con
                                        a.btn.btn-slider(href="#")
                                            span.span-t Подробнее
                                            span.span-plus
                                                i.icon
        section.clients.line-af
            .line-af-block
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .h2-all
                                h6 05
                                h2 Отзывы наших клиентов
                    .row
                        .clients-content
                            .col-sm-6
                                .clients-item
                                    .clients-item-block.clients-item-block-left
                                        img(src="img/raster/cl1.jpg")
                                    .clients-item-block.clients-item-block-right
                                        .clients-item-header
                                            h3 Андрей
                                            p Владелец участков в поселке Давыдовское
                                        .clients-item-content
                                            h4 Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции способствует подготовки и реализации систем массового участия.
                                            p
                                                span Дата работ:
                                                |  01. 02. 2017
                                .clients-item
                                    .clients-item-block.clients-item-block-left
                                        img(src="img/raster/cl2.jpg")
                                    .clients-item-block.clients-item-block-right
                                        .clients-item-header
                                            h3 Марина
                                            p Владелец участка в СНП "Земляничное"
                                        .clients-item-content
                                            h4 Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции способствует подготовки и реализации систем массового участия.
                                            p
                                                span Дата работ:
                                                |  01. 02. 2017
                            .col-sm-6
                                .clients-item
                                    .clients-item-block.clients-item-block-left
                                        img(src="img/raster/cl3.jpg")
                                    .clients-item-block.clients-item-block-right
                                        .clients-item-header
                                            h3 Светлана и Вадим
                                            p Владельцы участка в ДНП "Каменка"
                                        .clients-item-content
                                            h4 Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции способствует подготовки и реализации систем массового участия.
                                            p
                                                span Дата работ:
                                                |  01. 02. 2017
                                .clients-item
                                    .clients-item-block.clients-item-block-left
                                        img(src="img/raster/cl3.jpg")
                                    .clients-item-block.clients-item-block-right
                                        .clients-item-header
                                            h3 Светлана и Вадим
                                            p Владельцы участка в ДНП "Каменка"
                                        .clients-item-content
                                            h4 Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции способствует подготовки и реализации систем массового участия.
                                            p
                                                span Дата работ:
                                                |  01. 02. 2017
                    .row
                        .col-md-12
                            .hot-btn
                                a.btn.btn-tran(href="#")
                                    span.span-text Загрузить еще отзывы
                                    span.span-green
                                        i.icon
        section.slider-hot.video.line-af
            .line-af-block
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .h2-all
                                h6 06
                                h2 Видеоэкскурсия
                                p Посмотрите что снимают владельцы участков и коттеджей
            .slider-hot-block
                ul#video-slider.gallery.content-slider.list-unstyled.clearfix
                    li
                        .slider-hot-item
                            img(src="img/raster/video1.jpg")
                            .slider-hot-content
                                h4 Сбрасываем цены на ИЖС
                                p Последний шанс купить участок в Вороново по самой низкой цене! 10 000 за сотку !
                            a.btn.btn-slider(href="#")
                                span.span-t Смотреть ролик
                                span.span-plus
                                    i.icon
                    li
                        .slider-hot-item
                            img(src="img/raster/video2.jpg")
                            .slider-hot-content
                                h4 Как сэкономить при покупке участка?
                                p Скидка на участок в эко поселке Тетерево !  Участок окружен березами, неподалеку находиться Велегож парк и река Ока . Без ежемесячных сборов.
                            a.btn.btn-slider(href="#")
                                span.span-t Смотреть ролик
                                span.span-plus
                                    i.icon
                    li
                        .slider-hot-item
                            img(src="img/raster/video3.jpg")
                            .slider-hot-content
                                h4 19 000 сотка!
                                    br
                                    | В эко поселке около оки!
                                p Последний шанс купить участок в Вороново по самой низкой цене! 10 000 за сотку !
                            a.btn.btn-slider(href="#")
                                span.span-t Смотреть ролик
                                span.span-plus
                                    i.icon
                    li
                        .slider-hot-item
                            img(src="img/raster/hot1.jpg")
                            .slider-hot-content
                                h4 Сбрасываем цены на ИЖС
                                p Последний шанс купить участок в Вороново по самой низкой цене! 10 000 за сотку !
                            a.btn.btn-slider(href="#")
                                span.span-t Смотреть ролик
                                span.span-plus
                                    i.icon
                    li
                        .slider-hot-item
                            img(src="img/raster/hot1.jpg")
                            .slider-hot-content
                                h4 Сбрасываем цены на ИЖС
                                p Последний шанс купить участок в Вороново по самой низкой цене! 10 000 за сотку !
                            a.btn.btn-slider(href="#")
                                span.span-t Смотреть ролик
                                span.span-plus
                                    i.icon
                    li
                        .slider-hot-item
                            img(src="img/raster/hot1.jpg")
                            .slider-hot-content
                                h4 Сбрасываем цены на ИЖС
                                p Последний шанс купить участок в Вороново по самой низкой цене! 10 000 за сотку !
                            a.btn.btn-slider(href="#")
                                span.span-t Смотреть ролик
                                span.span-plus
                                    i.icon
                a.hot-a-all.hot-a-left.video-a-prev
                    i.icon
                a.hot-a-all.hot-a-right.video-a-next
                    i.icon
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .hot-btn
                                a.btn.btn-tran(href="#")
                                    span.span-text Смотреть всё видео
                                    span.span-green
                                        i.icon
        section.sotiy.line-af
            .line-af-block
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .h2-all
                                h6 07
                                h2 Что такое Сотый Километр?
                            .sotiy-content
                                .sotiy-br.sotiy-mrg
                                    .sotiy-item
                                        h2 12
                                        h3 собственных поселков
                                    .sotiy-item
                                        h2 1000+
                                        h3 участков ИЖС и СНТ
                                            br
                                            |в Заокском районе
                                    .sotiy-item
                                        h2 28+
                                        h3 километров дорог,
                                            br
                                            |построенных нами
                                    .sotiy-item
                                        h2 8
                                        h3 лет работы
                                .sotiy-block.sotiy-mrg
                                    img(src="img/raster/sotiy.jpg")
                                    h3 Благотворительность
                                    p Идейные соображения высшего порядка, а также начало повседневной работы поформированию позиции способствует подготовки и реализации систем массового участия.
                                    a.btn.btn-tran(href="#")
                                        span.span-text Узнать подробнее
                                        span.span-green
                                            i.icon
        section.map.line-af
            .line-af-block
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .h2-all
                                h6 08
                                h2 Всего 1 час от Москвы по Симферопольке!
                                p Пока другие шоссе «стоят», Симферопольское едет. Никаких светофоров и населенных пунктов и всего 1 пост ДПС.
                                    |Один час - это реальное время, чтобы добраться до нас от МКАДа на машине, либо 2,5 часа на электричке
                                    |с Курского вокзала. Добро пожаловать в Заокский район!
            script(defer src="/js/map.js")
            #map
            script
                | function initMap() {
                |         var uluru = {lat: 55.754110, lng: 37.617366};
                |         var map = new google.maps.Map(document.getElementById('map'), {
                |           zoom: 10,
                |           center: uluru
                |         });
                |         var marker = new google.maps.Marker({
                |           position: uluru,
                |           map: map
                |         });
                |       }
        section.girl
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .girl-block.form-block
                                h2
                                    strong Позвоните нам,
                                        br
                                        | мы расскажем больше
                                    br
                                    | чем эта страница
                                .h5-block
                                    span
                                        i.icon.icon-ph
                                    h5 +7 (920)759-75-75
                                form.form-shake
                                    input(type="hidden" name="form_subject" value="Перезвоните через 29 секунд")
                                    .field
                                        input.btn-trgr(type="text" name="phone" placeholder="Перезвоним через 29 секунд" required=)
                                    button.btn.btn-green.btn-green-sp(name="send")
                                        span.span-text Заказать звонок
                                        span.span-green
                                            i.icon.icon-galblack
        include _footer
