doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header2
        section.content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crubms
                                a(href="#") Главная
                                span /
                                a(href="#") Каталог
                                span /
                                a(href="#") Участок 42
                            h3 Дом 42 кв. м на участке 8 соток
                    .row
                        .col-sm-5
                            .karta-block
                                .karta-line
                                    p Площадь:
                                    h6 8 соток
                                .karta-line
                                    p Стоимость:
                                    h6 1 100 000 р
                                        br
                                        a(href="#") Следить за ценой
                                .karta-line
                                    p Номер в каталоге:
                                    h6 2299
                                .karta-line
                                    p Тип недвижимости:
                                    h6 Дом в деревне
                                .karta-line
                                    p Расстояние до МКАД:
                                    h6 90 км
                                        br
                                        a(href="#") Посмотреть расположение
                                            |на карте
                                h4 Контакты для связи:
                                .contact-block
                                    .contact-block-item
                                        img(src="img/raster/roma.jpg")
                                    .contact-block-item
                                        h5 Романов Роман
                                        h6 8 (900) 123-23-23
                                        h6 roman@stokm.ru
                                a.btn.btn-green.btn-green-sp(href="#")
                                    span.span-text Написать сообщение Роману
                                    span.span-green
                                        i.icon.icon-galblack
                        .col-sm-7
                            ul#karta-slider.gallery.list-unstyled
                                li(data-thumb="img/raster/karslider1.jpg")
                                    img(src="img/raster/karslider.jpg")
                                li(data-thumb="img/raster/karslider2.jpg")
                                    img(src="img/raster/karslider.jpg")
                                li(data-thumb="img/raster/karslider3.jpg")
                                    img(src="img/raster/karslider.jpg")
                                li(data-thumb="img/raster/karslider4.jpg")
                                    img(src="img/raster/karslider.jpg")
                                li(data-thumb="img/raster/karslider1.jpg")
                                    img(src="img/raster/karslider.jpg")
                                li(data-thumb="img/raster/karslider1.jpg")
                                    img(src="img/raster/karslider.jpg")
                                li(data-thumb="img/raster/karslider1.jpg")
                                    img(src="img/raster/karslider.jpg")
        section.opis
            .inner
                .container-fluid
                    .row
                        .col-md-7.col-sm-6
                            h4 Описание участка
                            p
                                | Продается участок 10 соток, в 90 километрах от МКАДа, в Заокском районе Тульской области. Участок расположен на вершине холма
                                | с потрясающим панорамным видом, а в 5 минутах ходьбы от участка находится небольшая частная конюшня. Деревня называется Верхнее Романово. К участку уже подведено электричество, газ - в 50 метрах от участка. Участок находится на вершине холма, поэтому участок сухой, вода на нем не застаивается. И потрясающий панорамный вид, причем в разные стороны. С одной стороны соседи уже построились, даже есть забор. Метров 500 от участка протекает небольшая речушка, в которой можно ловить рыбу и купаться. Очень красивое
                                | и атмосферное место. А если вы любите лошадей или хотите, чтобы ваши дети приобщились к конному спорту, то небольшая частная конюшня, которая находится в деревне, вас очень порадует. Можно брать напрокат лошадей и кататься по окрестным полям, можно заниматься с тренером или купить свою лошадь и поставить в эту конюшню, чтобы там за ней ухаживали, кормили и выгуливали,
                                | а вы просто приходили
                        .col-md-5.col-sm-6
                            .opis-right
                                h4 Расположение дома на карте
                                img(src="img/raster/mapkarta.jpg")
                    .opis-bg
                        .row
                            .col-sm-7
                                h5
                                    | Запишитесь на просмотр, и вы
                                    | посетите 5 поселков за 1 день
                            .col-sm-5
                                a.btn.btn-green(href="#")
                                    span.span-text Записаться на просмотр
                                    span.span-green
                                        i.icon.icon-galblack
        section.content.pohoj
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            h5 Похожие обьявления
                            .slider-hot-item.slider-hot-item-mod
                                img(src="img/raster/pohoj1.jpg")
                                .slider-hot-content
                                    h4 Участок 8 соток ИЖС в деревне
                                    ul
                                        li Участок рядом с Ж/Д станцией
                                        li ИЖС, прописка
                                        li Большой и маленький пруд
                                        li Самая выгодная цена на ИЖС
                                a.btn.btn-slider.btn-slider-ps.clearfix(href="#")
                                    .display-left
                                        span.span-left 195 170 р.
                                    .display-right
                                        span.span-t Подробнее
                                        span.span-plus
                                            i.icon
                            .slider-hot-item.slider-hot-item-mod
                                img(src="img/raster/lar1.jpg")
                                .slider-hot-content
                                    h4 Участок 8 соток ИЖС в деревне
                                    ul
                                        li Участок рядом с Ж/Д станцией
                                        li ИЖС, прописка
                                        li Большой и маленький пруд
                                        li Самая выгодная цена на ИЖС
                                a.btn.btn-slider.btn-slider-ps.clearfix(href="#")
                                    .display-left
                                         span.span-left 195 170 р.
                                    .display-right
                                        span.span-t Подробнее
                                        span.span-plus
                                            i.icon
                            .slider-hot-item.slider-hot-item-mod
                                img(src="img/raster/pohoj3.jpg")
                                .slider-hot-content
                                    h4 Участок 8 соток ИЖС в деревне
                                    ul
                                        li Участок рядом с Ж/Д станцией
                                        li ИЖС, прописка
                                        li Большой и маленький пруд
                                        li Самая выгодная цена на ИЖС
                                a.btn.btn-slider.btn-slider-ps.clearfix(href="#")
                                    .display-left
                                        span.span-left 195 170 р.
                                    .display-right
                                        span.span-t Подробнее
                                        span.span-plus
                                            i.icon
        section.girl
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .girl-block.form-block
                                h2
                                    strong Позвоните нам,
                                        br
                                        | мы расскажем больше
                                    br
                                    | чем эта страница
                                .h5-block
                                    span
                                        i.icon.icon-ph
                                    h5 +7 (920)759-75-75
                                form.form-shake
                                    input(type="hidden" name="form_subject" value="Перезвоните через 29 секунд")
                                    .field
                                        input.btn-trgr(type="text" name="phone" placeholder="Перезвоним через 29 секунд" required=)
                                    button.btn.btn-green.btn-green-sp(name="send")
                                        span.span-text Заказать звонок
                                        span.span-green
                                            i.icon.icon-galblack
        include _footer