doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header2
        section.content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crubms
                                a(href="#") Главная
                                span /
                                a(href="#") Услуги
                                span /
                                a(href="#") Строительство
                                span /
                                a(href="#") Готовые проекты домов
                    .row
                        .col-md-8.col-md-push-4
                            .uslugi-main
                                .sort
                                    p Сортировать по:
                                    ul
                                        li
                                            a(href="#") цене
                                        li
                                            a(href="#") популярности
                                        li
                                            a(href="#") площади
                                        li
                                            a(href="#") размеру
                                    p.p-float всего: 77
                                .katalog-sl-bl
                                    .slider-hot-item.slider-hot-item-mod
                                        img(src="img/raster/kt1.jpg")
                                        .slider-hot-content
                                            h4 Феникс-К
                                            .slider-line.clearfix
                                                p Технология
                                                h6 Каркас
                                            .slider-line.clearfix
                                                p Площадь
                                                h6 88 м2
                                            .slider-line.clearfix
                                                p Этажность
                                                h6 6.0 * 9.0 м
                                            .slider-line.clearfix
                                                p Размер
                                                h6
                                            h5
                                                |Цена:
                                                span 522 800
                                                |руб.
                                        a.btn.btn-slider(href="#")
                                            span.span-t Подробнее
                                            span.span-plus
                                                i.icon
                                    .slider-hot-item.slider-hot-item-mod
                                        img(src="img/raster/kt2.jpg")
                                        .slider-hot-content
                                            h4 Феникс- 2К
                                            .slider-line.clearfix
                                                p Технология
                                                h6 Каркас
                                            .slider-line.clearfix
                                                p Площадь
                                                h6 88 м2
                                            .slider-line.clearfix
                                                p Этажность
                                                h6 6.0 * 9.0 м
                                            .slider-line.clearfix
                                                p Размер
                                                h6
                                            h5
                                                | Цена:
                                                span 2 000 800
                                                | руб.
                                        a.btn.btn-slider(href="#")
                                            span.span-t Подробнее
                                            span.span-plus
                                                i.icon
                                    .slider-hot-item.slider-hot-item-mod
                                        img(src="img/raster/kt3.jpg")
                                        .slider-hot-content
                                            h4 Феникс-3К
                                            .slider-line.clearfix
                                                p Технология
                                                h6 Каркас
                                            .slider-line.clearfix
                                                p Площадь
                                                h6 88 м2
                                            .slider-line.clearfix
                                                p Этажность
                                                h6 6.0 * 9.0 м
                                            .slider-line.clearfix
                                                p Размер
                                                h6
                                            h5
                                                | Цена:
                                                span 5 322 800
                                                | руб.
                                        a.btn.btn-slider(href="#")
                                            span.span-t Подробнее
                                            span.span-plus
                                                i.icon
                                    .slider-hot-item.slider-hot-item-mod
                                        img(src="img/raster/kt4.jpg")
                                        .slider-hot-content
                                            h4 Феникс-4К
                                            .slider-line.clearfix
                                                p Технология
                                                h6 Каркас
                                            .slider-line.clearfix
                                                p Площадь
                                                h6 88 м2
                                            .slider-line.clearfix
                                                p Этажность
                                                h6 6.0 * 9.0 м
                                            .slider-line.clearfix
                                                p Размер
                                                h6
                                            h5
                                                | Цена:
                                                span 7 000 800
                                                | руб.
                                        a.btn.btn-slider(href="#")
                                            span.span-t Подробнее
                                            span.span-plus
                                                i.icon
                                    .slider-hot-item.slider-hot-item-mod
                                        img(src="img/raster/kt5.jpg")
                                        .slider-hot-content
                                            h4 Феникс-3К
                                            .slider-line.clearfix
                                                p Технология
                                                h6 Каркас
                                            .slider-line.clearfix
                                                p Площадь
                                                h6 88 м2
                                            .slider-line.clearfix
                                                p Этажность
                                                h6 6.0 * 9.0 м
                                            .slider-line.clearfix
                                                p Размер
                                                h6
                                            h5
                                                | Цена:
                                                span 5 322 800
                                                | руб.
                                        a.btn.btn-slider(href="#")
                                            span.span-t Подробнее
                                            span.span-plus
                                                i.icon
                                    .slider-hot-item.slider-hot-item-mod
                                        img(src="img/raster/kt6.jpg")
                                        .slider-hot-content
                                            h4 Феникс-4К
                                            .slider-line.clearfix
                                                p Технология
                                                h6 Каркас
                                            .slider-line.clearfix
                                                p Площадь
                                                h6 88 м2
                                            .slider-line.clearfix
                                                p Этажность
                                                h6 6.0 * 9.0 м
                                            .slider-line.clearfix
                                                p Размер
                                                h6
                                            h5
                                                | Цена:
                                                span 7 000 800
                                                | руб.
                                        a.btn.btn-slider(href="#")
                                            span.span-t Подробнее
                                            span.span-plus
                                                i.icon
                        .col-md-4.col-md-pull-8
                            form
                                input(type="hidden" name="form_subject" value="Категория дома")
                                .uslugi-mnu.uslugi-mnu-mod.uslugi-mnu-kat
                                    h4.h4-active Категория дома
                                    .kv-radio-item
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p Популярные проекты
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p Уникальные проекты
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p Показать только действующие акции
                                    h4 Цена
                                    .double-ui.double-ui-mod
                                        input.slider-range6-value1.input-left(type="text" placeholder="от 60" readonly="readonly")
                                        input.slider-range6-value2.input-right(type="text" placeholder="от 11 396 256" readonly="readonly")
                                        .slider-range.slider-range6
                                    h4 Этажность
                                    .kv-radio-item
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p Один этаж
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p Два этажа
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p Два этажа (мансарда)
                                    h4 Технология
                                    .kv-radio-item
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p Кирпич + Клееный брус
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p Клееный брус
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p Фахверк
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p Кирпич
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p Флэтхаус
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p Дуплекс
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p Панели + Клееный брус
                                    h4 Площадь
                                    .double-ui.double-ui-mod
                                        input.slider-range7-value1.input-left(type="text" placeholder="от 60" readonly="readonly")
                                        input.slider-range7-value2.input-right(type="text" placeholder="от 11 396 256" readonly="readonly")
                                        .slider-range.slider-range7
                                    a.btn.btn-slider.btn-slider-mod(href="#")
                                        span.span-t Показать (37)
                                        span.span-plus
                                            i.icon
        include _footer