doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header2
        section.content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crubms
                                a(href="#") Главная
                                span /
                                a(href="#") Каталог
                                span /
                                a(href="#") Участок 42
                            h3 Дом 42 кв. м на участке 8 соток
                    .row
                        .col-md-7
                            .slider-kon
                                ul#karta-slider.gallery.list-unstyled
                                    li(data-thumb="img/raster/karslider1.jpg")
                                        img(src="img/raster/project.jpg")
                                    li(data-thumb="img/raster/karslider2.jpg")
                                        img(src="img/raster/project.jpg")
                                    li(data-thumb="img/raster/karslider3.jpg")
                                        img(src="img/raster/project.jpg")
                                    li(data-thumb="img/raster/karslider4.jpg")
                                        img(src="img/raster/project.jpg")
                                    li(data-thumb="img/raster/karslider1.jpg")
                                        img(src="img/raster/project.jpg")
                                    li(data-thumb="img/raster/karslider1.jpg")
                                        img(src="img/raster/project.jpg")
                                    li(data-thumb="img/raster/karslider1.jpg")
                                        img(src="img/raster/project.jpg")
                            .char-block
                                .char-block-item
                                    h6 Фундамент:
                                    p
                                        |Продается участок 10 соток, в 90 километрах от МКАДа, в Заокском районе Тульской области. Участок расположен на вершине холма с потрясающим панорамным видом, а в 5 минутах ходьбы от участка находится.
                                .char-block-item
                                    h6 Стены 1-го эт.:
                                    p
                                        |Продается участок 10 соток, в 90 километрах от МКАДа, в Заокском районе Тульской области.
                                .char-block-item
                                    h6 Стены 2-го эт.:
                                    p
                                        |Участок расположен на вершине холма с потрясающим панорамным видом, а в 5 минутах ходьбы от участка находится.
                                .char-block-item
                                    h6 Полы 1-го эт.:
                                    p
                                        |Продается участок 10 соток, в 90 километрах от МКАДа, в Заокском районе Тульской области.
                                .char-block-item
                                    h6 Крыша
                                    p
                                        | Профлист С-20 оцинкованный Обрешетка 20 мм Стропила - ККПМ
                                .char-block-item
                                    h6 Перекрытие 1-го эт.:
                                    p
                                        | Профлист С-20 оцинкованный Обрешетка 20 мм Стропила - ККПМ
                                .char-block-item
                                    h6 Двери
                                    p
                                        |Продается участок 10 соток, в 90 километрах от МКАДа, в Заокском районе Тульской области.
                        .col-md-5
                            .karta-block.karta-block-mod
                                .karta-line
                                    p Площадь:
                                    h6 300 м2
                                .karta-line
                                    p Материал стен:
                                    h6 Клееный брус
                                .karta-line
                                    p Спален:
                                    h6 3
                                .karta-line
                                    p Санузла:
                                    h6 5
                                .karta-line
                                    p Цена:
                                    h6 6 900 000 руб.
                            .call-back
                                a.btn.btn-green.btn-green-sp(href="#")
                                    span.span-text Получить презентацию
                                    span.span-green
                                        i.icon.icon-galblack
                                a.btn.btn-recall(href="#")
                                    |Заказать обратный звонок
                            form
                                input(type="hidden" name="form_subject" value="Подобрать участок")
                                .project-mnu
                                    h4 Подобрать участок для дома
                                    .search-item
                                        p
                                            span 02.
                                            | СТОИМОСТЬ, РУБЛЕЙ
                                        .double-ui.double-ui-mod
                                            input.slider-range4-value1.input-left(type="text" placeholder="от 60" readonly="readonly")
                                            input.slider-range4-value2.input-right(type="text" placeholder="от 11 396 256" readonly="readonly")
                                            .slider-range.slider-range4
                                    .search-item
                                        p
                                            span 02.
                                            | СТОИМОСТЬ, РУБЛЕЙ
                                        .double-ui.double-ui-mod
                                            input.slider-range5-value1.input-left(type="text" placeholder="от 60" readonly="readonly")
                                            input.slider-range5-value2.input-right(type="text" placeholder="от 11 396 256" readonly="readonly")
                                            .slider-range.slider-range5
                                    .kv-radio-item
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p ИЖС
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p СНТ
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p Электричество
                                        label
                                    .kv-radio-item
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p Газ
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p Лес
                                        label
                                            input(type="radio" name="name")
                                            span
                                            p ЖД станция
                                        label
                                    a.btn.btn-slider.btn-slider-mod(href="#")
                                        span.span-t Показать (37)
                                        span.span-plus
                                            i.icon
        section.content.pohoj.pohoj-mod
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            h5 Похожие обьявления
                            .slider-hot-item.slider-hot-item-mod
                                img(src="img/raster/kt1.jpg")
                                .slider-hot-content
                                    h4 Феникс-К
                                    .slider-line.clearfix
                                        p Технология
                                        h6 Каркас
                                    .slider-line.clearfix
                                        p Площадь
                                        h6 88 м2
                                    .slider-line.clearfix
                                        p Этажность
                                        h6 6.0 * 9.0 м
                                    .slider-line.clearfix
                                        p Размер
                                        h6
                                    h5
                                        | Цена:
                                        span 522 800
                                        | руб.
                                a.btn.btn-slider(href="#")
                                    span.span-t Подробнее
                                    span.span-plus
                                        i.icon
                            .slider-hot-item.slider-hot-item-mod
                                img(src="img/raster/kt2.jpg")
                                .slider-hot-content
                                    h4 Феникс-К
                                    .slider-line.clearfix
                                        p Технология
                                        h6 Каркас
                                    .slider-line.clearfix
                                        p Площадь
                                        h6 88 м2
                                    .slider-line.clearfix
                                        p Этажность
                                        h6 6.0 * 9.0 м
                                    .slider-line.clearfix
                                        p Размер
                                        h6
                                    h5
                                        | Цена:
                                        span 522 800
                                        | руб.
                                a.btn.btn-slider(href="#")
                                    span.span-t Подробнее
                                    span.span-plus
                                        i.icon
                            .slider-hot-item.slider-hot-item-mod
                                img(src="img/raster/kt3.jpg")
                                .slider-hot-content
                                    h4 Феникс-К
                                    .slider-line.clearfix
                                        p Технология
                                        h6 Каркас
                                    .slider-line.clearfix
                                        p Площадь
                                        h6 88 м2
                                    .slider-line.clearfix
                                        p Этажность
                                        h6 6.0 * 9.0 м
                                    .slider-line.clearfix
                                        p Размер
                                        h6
                                    h5
                                        | Цена:
                                        span 522 800
                                        | руб.
                                a.btn.btn-slider(href="#")
                                    span.span-t Подробнее
                                    span.span-plus
                                        i.icon
        include _footer