doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header2
        section.content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crubms
                                a(href="#") Главная
                                span /
                                a(href="#") Акции
                    .row
                        .col-md-8.col-md-push-4
                            .uslugi-main
                                h2 Приезжайте к нам на майские праздники!
                                .p-date 21.05.2017
                                .sale-slider-block
                                    ul#sale-slider.gallery.content-slider.list-unstyled.clearfix
                                        li
                                            img(src="img/raster/sslider1.jpg")
                                        li
                                            img(src="img/raster/sslider2.jpg")
                                        li
                                            img(src="img/raster/sslider1.jpg")
                                        li
                                            img(src="img/raster/sslider2.jpg")
                                    .sale-a
                                        .sale-a-all.sale-a-left.sale-a-prev
                                            i.icon
                                        .sale-a-all.sale-a-right.sale-a-next
                                            i.icon
                                h2 Приезжайте к нам на майские праздники!
                                p
                                    | Продается участок 10 соток, в 90 километрах от МКАДа, в Заокском районе Тульской области. Участок расположен на вершине холма с потрясающим панорамным видом,
                                    | а в 5 минутах ходьбы от участка находится небольшая частная конюшня. Деревня называется Верхнее Романово.
                                .sale-br
                                    p
                                        | Продается участок 10 соток, в 90 километрах от МКАДа, в Заокском районе Тульской области. Участок расположен на вершине холма с потрясающим панорамным видом,
                                        | а в 5 минутах ходьбы от участка находится небольшая частная конюшня. Деревня называется Верхнее Романово.
                                p
                                    |Идейные соображения высшего порядка, а также новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание соответствующий условий активизации. Задача организации, в особенности же реализация намеченных плановых заданий играет важную роль в формировании соответствующий условий активизации. Таким образом консультация с широким активом требуют от нас анализа новых предложений.
                                .sale-tbl
                                    table
                                        tr
                                            th.tac(width="10%")
                                                |№
                                            th(width="30%")
                                                |Игрок
                                            th(width="25%")
                                                |профиль
                                            th(width="25%")
                                                |Количество баллов
                                        tr
                                            td.tac
                                                .num-rad 1
                                            td
                                                |Иван Константинопольский
                                            td
                                                a(href="#") Профиль
                                            td
                                                |23. 500. 000
                                        tr.tr-sp
                                            td.tac
                                                .num-rad 2
                                            td
                                                |Андрей Златопольский
                                            td
                                                a(href="#") Профиль
                                            td
                                                |23. 500. 000
                                        tr
                                            td.tac
                                                .num-rad 3
                                            td
                                                |Иван Константинопольский
                                            td
                                                a(href="#") Профиль
                                            td
                                                |23. 500. 000
                                        tr.tr-sp
                                            td.tac
                                                .num-rad 4
                                            td
                                                |Андрей Златопольский
                                            td
                                                a(href="#") Профиль
                                            td
                                                |23. 500. 000
                                        tr
                                            td.tac
                                                .num-rad 5
                                            td
                                                |Иван Константинопольский
                                            td
                                                a(href="#") Профиль
                                            td
                                                |23. 500. 000
                                        tr.tr-sp
                                            td.tac
                                                .num-rad 6
                                            td
                                                |Андрей Златопольский
                                            td
                                                a(href="#") Профиль
                                            td
                                                |23. 500. 000

                                .sale-ul
                                    ul
                                        li
                                            .num-rad 1
                                            |Иван Константинопольский
                                        li
                                            .num-rad 2
                                            |Повседневная практика показывает
                                        li
                                            .num-rad 3
                                            |Повседневная практика
                                        li
                                            .num-rad 4
                                            |Повседневная практика показывает
                                        li
                                            .num-rad 5
                                            |Иван Константинопольский
                                    ul
                                        li
                                            .num-rad-mod
                                                i.icon
                                            |Иван Константинопольский
                                        li
                                            .num-rad-mod
                                                i.icon
                                            |Повседневная практика показывает
                                        li
                                            .num-rad-mod
                                                i.icon
                                            |Повседневная практика
                                        li
                                            .num-rad-mod
                                                i.icon
                                            |Повседневная практика показывает
                                        li
                                            .num-rad-mod
                                                i.icon
                                            |Иван Константинопольский
                                .sale-tabs
                                    a.sale-tabs-item.sale-tabs-item-1 Сколько по времени идет доставка?
                                    .sale-tab-all.sale-tab-1
                                        p
                                            |Идейные соображения высшего порядка, а также консультация с широким активом позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности tab1
                                    a.sale-tabs-item.sale-tabs-item-2 С другой стороны реализация намеченных плановых
                                    .sale-tab-all.sale-tab-2
                                        p
                                            | Идейные соображения высшего порядка, а также консультация с широким активом позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности tab2
                                    a.sale-tabs-item.sale-tabs-item-3 Товарищи! укрепление и развитие структуры влечет за собопроцесс
                                    .sale-tab-all.sale-tab-3
                                        p
                                            | Идейные соображения высшего порядка, а также консультация с широким активом позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности tab3
                                    a.sale-tabs-item.sale-tabs-item-4 Сколько по времени идет доставка?
                                    .sale-tab-all.sale-tab-4
                                        p
                                            | Идейные соображения высшего порядка, а также консультация с широким активом позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности tab4
                        .col-md-4.col-md-pull-8
                            .uslugi-mnu.uslugi-mnu-mod
                                h4 Поселки
                                .pos-block
                                    a(href="#").pos-item
                                        .pos-item-all.pos-item-left
                                            img(src="img/raster/s1.jpg")
                                        .pos-item-all.pos-item-right
                                            h6 Вороново
                                            p СНТ
                                                br
                                                |от  10 000 за сотку
                                    a(href="#").pos-item
                                        .pos-item-all.pos-item-left
                                            img(src="img/raster/s2.jpg")
                                        .pos-item-all.pos-item-right
                                            h6 Каменка
                                            p СНТ
                                                br
                                                | от  10 000 за сотку
                                    a(href="#").pos-item
                                        .pos-item-all.pos-item-left
                                            img(src="img/raster/s1.jpg")
                                        .pos-item-all.pos-item-right
                                            h6 Вороново
                                            p СНТ
                                                br
                                                | от  10 000 за сотку
                                    a.a-t-g(href="#") Посмотреть все поселки
                                h4 Дополнительные
                                    br
                                    |услуги
                                .dop-block
                                    a.dop-item(href="#")
                                        .dop-item-all.dop-item-left.dop-item-left-1
                                            i.icon
                                        .dop-item-all.dop-item-right
                                            p Электричество
                                    a.dop-item(href="#")
                                        .dop-item-all.dop-item-left.dop-item-left-2
                                            i.icon
                                        .dop-item-all.dop-item-right
                                            p Строительство
                                                br
                                                |домов
                                    a.dop-item(href="#")
                                        .dop-item-all.dop-item-left.dop-item-left-3
                                            i.icon
                                        .dop-item-all.dop-item-right
                                            p Колодцы
                                    a.dop-item(href="#")
                                        .dop-item-all.dop-item-left.dop-item-left-4
                                            i.icon
                                        .dop-item-all.dop-item-right
                                            p Юридические
                                                br
                                                |услуги
                                h4 Вторичная
                                    br
                                    |недвижимость
                                .pos-block
                                    a(href="#").pos-item
                                        .pos-item-all.pos-item-left
                                            img(src="img/raster/s1.jpg")
                                        .pos-item-all.pos-item-right
                                            h6 Вороново
                                            p СНТ
                                                br
                                                | от  10 000 за сотку
                                    a(href="#").pos-item
                                        .pos-item-all.pos-item-left
                                            img(src="img/raster/s2.jpg")
                                        .pos-item-all.pos-item-right
                                            h6 Каменка
                                            p СНТ
                                                br
                                                | от  10 000 за сотку
                                    a.a-t-g(href="#") Посмотреть все поселки
        include _footer

