doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header2
        section.content.content-mod.content-search
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crubms
                                a(href="#") Главная
                                span /
                                a(href="#") Каталог
                            h3 Поиск по параметрам
                    .row
                        form
                            input(type="hidden" name="form_subject" value="Тип недвижимости")
                            .col-lg-7
                                .search-item.search-item-mod
                                    p
                                        span 01.
                                        | ВЫБЕРИТЕ ТИП НЕДВИЖИМОСТИ
                                    .ned-content.type-ned
                                        input(type="hidden" name="typened")
                                        .ned-content-item.ned-content-item-1
                                            i.icon
                                            p Участки
                                                br
                                                | в деревне
                                        .ned-content-item.ned-content-item-2
                                            i.icon
                                            p Участки в
                                                br
                                                | товариществе
                                        .ned-content-item.ned-content-item-2
                                            i.icon
                                            p Коммерческая
                                                br
                                                | недвижимость
                                        .ned-content-item.ned-content-item-3
                                            i.icon
                                            p Дома
                                                br
                                                | в деревне
                                        .ned-content-item.ned-content-item-3
                                            i.icon
                                            p Дома в
                                                br
                                                | товариществе
                                .search-item
                                    p
                                        span 02.
                                        | СТОИМОСТЬ, РУБЛЕЙ
                                    .double-ui
                                        input.slider-range1-value1.input-left(type="text" placeholder="от 60" readonly="readonly")
                                        input.slider-range1-value2.input-right(type="text" placeholder="от 11 396 256" readonly="readonly")
                                        .slider-range.slider-range1
                                .search-item
                                    p
                                        span 03.
                                        | ПЛОЩАДЬ ДОМА, М2:
                                    .double-ui
                                        input.slider-range2-value1.input-left(type="text" placeholder="от 60" readonly="readonly")
                                        input.slider-range2-value2.input-right(type="text" placeholder="от 11 396 256" readonly="readonly")
                                        .slider-range.slider-range2
                            .col-lg-5
                                .search-item.search-item-mod
                                    p
                                        span 04.
                                        | ВЫБЕРИТЕ КОММУНИКАЦИИ
                                    .type-com
                                        .search-item-content
                                            .search-item-block.search-item-block-1
                                                i.icon
                                            p Элек-во
                                        .search-item-content
                                            .search-item-block.search-item-block-2
                                                i.icon
                                            p Газ
                                        .search-item-content
                                            .search-item-block.search-item-block-3
                                                i.icon
                                            p Водоем
                                        .search-item-content
                                            .search-item-block.search-item-block-4
                                                i.icon
                                            p Лес
                                        .search-item-content
                                            .search-item-block.search-item-block-5
                                                i.icon
                                            p Ж/Д
                                                | Станция
                                .search-item
                                    p
                                        span 05.
                                        | ПЛОЩАДЬ УЧАСТКА, СОТОК
                                    .double-ui
                                        input.slider-range3-value1.input-left(type="text" placeholder="от 60" readonly="readonly")
                                        input.slider-range3-value2.input-right(type="text" placeholder="от 11 396 256" readonly="readonly")
                                        .slider-range.slider-range3
                                .search-item
                                    a.btn.btn-green.btn-green-sp(href="#")
                                        span.span-text Подобрать  участки
                                        span.span-green
                                            i.icon.icon-galblack
                    .row
                        .col-md-12
                            .container-marg
                                h5 Найдено: 13 домов / участков
                                .block-search
                                    .slider-hot-item.slider-hot-item-mod
                                        img(src="img/raster/dui1.jpg")
                                        .slider-hot-content
                                            h4 Участок 8 соток ИЖС в деревне
                                            ul
                                                li Участок рядом с Ж/Д станцией
                                                li ИЖС, прописка
                                                li Большой и маленький пруд
                                                li Самая выгодная цена на ИЖС
                                        a.btn.btn-slider.btn-slider-ps.clearfix(href="#")
                                            .display-left
                                                span.span-left 195 170 р.
                                            .display-right
                                                span.span-t Подробнее
                                                span.span-plus
                                                    i.icon
                                    .slider-hot-item.slider-hot-item-mod
                                        img(src="img/raster/dui2.jpg")
                                        .slider-hot-content
                                            h4 Участок 8 соток ИЖС в деревне
                                            ul
                                                li Участок рядом с Ж/Д станцией
                                                li ИЖС, прописка
                                                li Большой и маленький пруд
                                                li Самая выгодная цена на ИЖС
                                        a.btn.btn-slider.btn-slider-ps.clearfix(href="#")
                                            .display-left
                                                span.span-left 195 170 р.
                                            .display-right
                                                span.span-t Подробнее
                                                span.span-plus
                                                    i.icon
                                    .slider-hot-item.slider-hot-item-mod
                                        img(src="img/raster/dui3.jpg")
                                        .slider-hot-content
                                            h4 Участок 8 соток ИЖС в деревне
                                            ul
                                                li Участок рядом с Ж/Д станцией
                                                li ИЖС, прописка
                                                li Большой и маленький пруд
                                                li Самая выгодная цена на ИЖС
                                        a.btn.btn-slider.btn-slider-ps.clearfix(href="#")
                                            .display-left
                                                span.span-left 195 170 р.
                                            .display-right
                                                span.span-t Подробнее
                                                span.span-plus
                                                    i.icon
                                    .slider-hot-item.slider-hot-item-mod
                                        img(src="img/raster/pohoj1.jpg")
                                        .slider-hot-content
                                            h4 Участок 8 соток ИЖС в деревне
                                            ul
                                                li Участок рядом с Ж/Д станцией
                                                li ИЖС, прописка
                                                li Большой и маленький пруд
                                                li Самая выгодная цена на ИЖС
                                        a.btn.btn-slider.btn-slider-ps.clearfix(href="#")
                                            .display-left
                                                span.span-left 195 170 р.
                                            .display-right
                                                span.span-t Подробнее
                                                span.span-plus
                                                    i.icon
                                    .slider-hot-item.slider-hot-item-mod
                                        img(src="img/raster/lar1.jpg")
                                        .slider-hot-content
                                            h4 Участок 8 соток ИЖС в деревне
                                            ul
                                                li Участок рядом с Ж/Д станцией
                                                li ИЖС, прописка
                                                li Большой и маленький пруд
                                                li Самая выгодная цена на ИЖС
                                        a.btn.btn-slider.btn-slider-ps.clearfix(href="#")
                                            .display-left
                                                span.span-left 195 170 р.
                                            .display-right
                                                span.span-t Подробнее
                                                span.span-plus
                                                    i.icon
                                    .slider-hot-item.slider-hot-item-mod
                                        img(src="img/raster/pohoj3.jpg")
                                        .slider-hot-content
                                            h4 Участок 8 соток ИЖС в деревне
                                            ul
                                                li Участок рядом с Ж/Д станцией
                                                li ИЖС, прописка
                                                li Большой и маленький пруд
                                                li Самая выгодная цена на ИЖС
                                        a.btn.btn-slider.btn-slider-ps.clearfix(href="#")
                                            .display-left
                                                span.span-left 195 170 р.
                                            .display-right
                                                span.span-t Подробнее
                                                span.span-plus
                                                    i.icon
                    .sr-bg
                        .row
                            .col-sm-7
                                h3
                                    | У нас есть больше участков,
                                    | чем в каталоге сайта
                                h4
                                    | Позвоните нам, мы подберем замлю
                                    | по вашим пожеланиям!
                            .col-sm-5
                                .h5-block
                                    span
                                        i.icon.icon-phgr
                                    h5 +7 (920)759-75-75
                                a.btn.btn-green(href="#")
                                    span.span-text Заказать звонок
                                    span.span-green
                                        i.icon.icon-galblack
                    .row
                        .col-md-12
                            .block-search
                                .slider-hot-item.slider-hot-item-mod
                                    img(src="img/raster/dui1.jpg")
                                    .slider-hot-content
                                        h4 Участок 8 соток ИЖС в деревне
                                        ul
                                            li Участок рядом с Ж/Д станцией
                                            li ИЖС, прописка
                                            li Большой и маленький пруд
                                            li Самая выгодная цена на ИЖС
                                    a.btn.btn-slider.btn-slider-ps.clearfix(href="#")
                                        .display-left
                                            span.span-left 195 170 р.
                                        .display-right
                                            span.span-t Подробнее
                                            span.span-plus
                                                i.icon
                                .slider-hot-item.slider-hot-item-mod
                                    img(src="img/raster/dui2.jpg")
                                    .slider-hot-content
                                        h4 Участок 8 соток ИЖС в деревне
                                        ul
                                            li Участок рядом с Ж/Д станцией
                                            li ИЖС, прописка
                                            li Большой и маленький пруд
                                            li Самая выгодная цена на ИЖС
                                    a.btn.btn-slider.btn-slider-ps.clearfix(href="#")
                                        .display-left
                                            span.span-left 195 170 р.
                                        .display-right
                                            span.span-t Подробнее
                                            span.span-plus
                                                i.icon
                                .slider-hot-item.slider-hot-item-mod
                                    img(src="img/raster/dui3.jpg")
                                    .slider-hot-content
                                        h4 Участок 8 соток ИЖС в деревне
                                        ul
                                            li Участок рядом с Ж/Д станцией
                                            li ИЖС, прописка
                                            li Большой и маленький пруд
                                            li Самая выгодная цена на ИЖС
                                    a.btn.btn-slider.btn-slider-ps.clearfix(href="#")
                                        .display-left
                                            span.span-left 195 170 р.
                                        .display-right
                                            span.span-t Подробнее
                                            span.span-plus
                                                i.icon
        section.cost
            .inner
                .container-fluid
                    .row
                        .col-md-5.col-sm-6
                            img(src="img/raster/cost.jpg")
                        .col-md-7.col-sm-6
                            h4 Cтоимость участка
                            p
                                | Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я.
                                | Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты. Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я лежу в высокой траве у быстрого ручья и, прильнув к земле, вижу тысячи всевозможных былинок и чувствую. 
                            p
                                |Как близок моему сердцу крошечный мирок, что снует между стебельками, наблюдаю эти неисчислимые, непостижимые разновидности червяков и мошек и чувствую близость всемогущего, создавшего нас по своему подобию, веяние вселюбящего, судившего нам парить в вечном блаженстве, когда взор мой туманится и все вокруг меня и небо надо мной запечатлены в моей душе, точно образ возлюбленной, - тогда, дорогой друг, меня часто томит мысль
        section.girl
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .girl-block.form-block
                                h2
                                    strong Позвоните нам,
                                        br
                                        | мы расскажем больше
                                    br
                                    | чем эта страница
                                .h5-block
                                    span
                                        i.icon.icon-ph
                                    h5 +7 (920)759-75-75
                                form.form-shake
                                    input(type="hidden" name="form_subject" value="Перезвоните через 29 секунд")
                                    .field
                                        input.btn-trgr(type="text" name="phone" placeholder="Перезвоним через 29 секунд" required=)
                                    button.btn.btn-green.btn-green-sp(name="send")
                                        span.span-text Заказать звонок
                                        span.span-green
                                            i.icon.icon-galblack
        include _footer