doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header2
        section.content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crubms
                                a(href="#") Главная
                                span /
                                a(href="#") Услуги
                    .row
                        .col-md-8.col-md-push-4
                            .uslugi-main
                                h2 Строительство Дома
                                p
                                    | Продается участок 10 соток, в 90 километрах от МКАДа, в Заокском районе Тульской области. Участок расположен на вершине холма с потрясающим панорамным видом,
                                    |  а в 5 минутах ходьбы от участка находится небольшая частная конюшня. Деревня называется Верхнее Романово.
                                    span К участку уже подведено электричество, газ - в 50 метрах от участка.
                                    | Участок находится на вершине холма, поэтому участок сухой, вода на нем не застаивается. И потрясающий панорамный вид, причем в разные стороны.Продается участок 10 соток, в 90 километрах от МКАДа, в Заокском районе Тульской области. Участок расположен на вершине холма с потрясающим панорамным видом,
                                .uslugi-main-block.clearfix
                                    a.uslugi-main-item(href="#")
                                        img(src="img/raster/dom1.jpg")
                                        span Проекты домов
                                            br
                                            | от наших партнеров
                                    a.uslugi-main-item(href="#")
                                        img(src="img/raster/dom2.jpg")
                                        span Инженерные
                                            br
                                            | коммуникации
                                    a.uslugi-main-item(href="#")
                                        img(src="img/raster/dom3.jpg")
                                        span Колодцы
                                            br
                                            | и скважины
                                h2 Юридические услуги
                                p
                                    | Продается участок 10 соток, в 90 километрах от МКАДа, в Заокском районе Тульской области. Участок расположен на вершине холма с потрясающим панорамным видом,
                                    |  а в 5 минутах ходьбы от участка находится небольшая частная конюшня. Деревня называется Верхнее Романово. К участку уже подведено электричество, газ - в 50 метрах от участка. Участок находится на вершине холма, поэтому участок сухой, вода на нем не застаивается. И потрясающий панорамный вид, причем в разные стороны.
                                .uslugi-main-block.clearfix
                                    a.uslugi-main-item(href="#")
                                        img(src="img/raster/dom4.jpg")
                                        span Оформление
                                            br
                                            | документов
                                    a.uslugi-main-item(href="#")
                                        img(src="img/raster/dom5.jpg")
                                        span Консультации по
                                            br
                                            | недвижимости
                                    a.uslugi-main-item(href="#")
                                        img(src="img/raster/dom6.jpg")
                                        span Решение вопросов
                                            br
                                            | наследственности
                                h2 Обустройство участка
                                p
                                    | Продается участок 10 соток, в 90 километрах от МКАДа, в Заокском районе Тульской области. Участок расположен на вершине холма с потрясающим панорамным видом,
                                    | а в 5 минутах ходьбы от участка находится небольшая частная конюшня. Деревня называется Верхнее Романово.
                                a.a-t-g(href="#") Подробнее
                                .us-block
                                    h2 Посмотрите на наши участки под ИЖС
                                        br
                                        | с коммуникациями
                                    .slider-hot-item.slider-hot-item-mod
                                        img(src="img/raster/lar1.jpg")
                                        .slider-hot-content
                                            h4 Участок 8 соток ИЖС в деревне
                                            p Последний шанс купить участок в Вороново по самой низкой цене! 10 000 за сотку !
                                        a.btn.btn-slider.btn-slider-ps.clearfix(href="#")
                                            .display-left
                                                span.span-left 195 170 р.
                                            .display-right
                                                span.span-t Подробнее
                                                span.span-plus
                                                    i.icon
                                    .slider-hot-item.slider-hot-item-mod
                                        img(src="img/raster/lar2.jpg")
                                        .slider-hot-content
                                            h4 Участок 10 соток ИЖС, Каменка
                                            p Последний шанс купить участок в Вороново по самой низкой цене! 10 000 за сотку !
                                        a.btn.btn-slider.btn-slider-ps.clearfix(href="#")
                                            .display-left
                                                span.span-left 195 170 р.
                                            .display-right
                                                span.span-t Подробнее
                                                span.span-plus
                                                    i.icon
                                    .slider-hot-item.slider-hot-item-mod
                                        img(src="img/raster/lar3.jpg")
                                        .slider-hot-content
                                            h4 Участок 10 соток ИЖС, Каменка
                                            p Последний шанс купить участок в Вороново по самой низкой цене! 10 000 за сотку !
                                        a.btn.btn-slider.btn-slider-ps.clearfix(href="#")
                                            .display-left
                                                span.span-left 195 170 р.
                                            .display-right
                                                span.span-t Подробнее
                                                span.span-plus
                                                    i.icon
                                    .slider-hot-item.slider-hot-item-mod
                                        img(src="img/raster/lar4.jpg")
                                        .slider-hot-content
                                            h4 Участок 10 соток ИЖС, Каменка
                                            p Последний шанс купить участок в Вороново по самой низкой цене! 10 000 за сотку !
                                        a.btn.btn-slider.btn-slider-ps.clearfix(href="#")
                                            .display-left
                                                span.span-left 195 170 р.
                                            .display-right
                                                span.span-t Подробнее
                                                span.span-plus
                                                    i.icon
                        .col-md-4.col-md-pull-8
                            .uslugi-mnu
                                h4.h4-active Строительство дома
                                    br
                                    |от А до Я
                                ul
                                    li
                                        a(href="#") - Готовые проекты домов
                                    li
                                        a(href="#") - Возведение фундаментов
                                    li
                                        a(href="#") - Подвод воды в дом
                                    li
                                        a(href="#") - Разводка отопления
                                    li
                                        a(href="#") - Обустройство канализации
                                    li
                                        a(href="#") - Подключение Электричества
                                h4 Юридические услуги
                                ul
                                    li
                                        a(href="#") - Оформление документов
                                    li
                                        a(href="#") - Консультация с юристом
                                    li
                                        a(href="#") - Видео материалы
                                    li
                                        a(href="#") - Вопросы наследственности
                                h4 Обустройство участка
                                ul
                                    li
                                        a(href="#") - Оформление документов
                                    li
                                        a(href="#") - Консультация с юристом
                                    li
                                        a(href="#") - Видео материалы
                                    li
                                        a(href="#") - Вопросы наследственности
                                .uslugi-grey
                                    h5
                                        | Получите
                                        span скидку до 43%
                                        | на участок, подпишитесь
                                        | на акции
                                    a.btn.btn-green.btn-green-sp(href="#")
                                        span.span-text Подписать на
                                            |рассылку акций
                                        span.span-green
                                            i.icon.icon-galblack
                                .uslugi-content
                                    h3 Последние новости
                                    .uslugi-content-item
                                        .us-data
                                            |20.05.2017
                                        h6 Новый поселок Вороново
                                        p Продается участок 10 соток, в 90 километрах от МКАДа, в Заокском районе Тульской области.
                                        a.a-t-g(href="#") Подробнее
                                    .uslugi-content-item
                                        .us-data
                                            | 20.05.2017
                                        h6 Новый поселок Вороново
                                        p Продается участок 10 соток, в 90 километрах от МКАДа, в Заокском районе Тульской области.
                                        a.a-t-g(href="#") Подробнее
                                    .uslugi-content-item
                                        .us-data
                                            | 20.05.2017
                                        h6 Новый поселок Вороново
                                        p Продается участок 10 соток, в 90 километрах от МКАДа, в Заокском районе Тульской области.
                                        a.a-t-g(href="#") Подробнее
                                .uslugi-content2
                                    h3 Преимущества работы
                                        br
                                        |с нами
                                    .uslugi-content2-item
                                        .uslugi-content2-all.uslugi-content2-left
                                            img(src="img/icons/pre1.png")
                                        .uslugi-content2-all.uslugi-content2-right
                                            h6 Рассрочка 0%
                                            p от 9 000 руб/мес.
                                                br
                                                |за участок
                                    .uslugi-content2-item
                                        .uslugi-content2-all.uslugi-content2-left
                                            img(src="img/icons/pre2.png")
                                        .uslugi-content2-all.uslugi-content2-right
                                            h6 Антикризисные
                                                br
                                            p от 107 000 руб
                                                br
                                                |за участок
                                    .uslugi-content2-item
                                        .uslugi-content2-all.uslugi-content2-left
                                            img(src="img/icons/pre3.png")
                                        .uslugi-content2-all.uslugi-content2-right
                                            h6 100 км от Москвы
                                            p Час езды на машине
                                                br
                                                |или два на электричке
                                    .uslugi-content2-item
                                        .uslugi-content2-all.uslugi-content2-left
                                            img(src="img/icons/pre4.png")
                                        .uslugi-content2-all.uslugi-content2-right
                                            h6 Чистая экология
                                            p Здоровье вашей семьи
                                    .uslugi-content2-item
                                        .uslugi-content2-all.uslugi-content2-left
                                            img(src="img/icons/pre5.png")
                                        .uslugi-content2-all.uslugi-content2-right
                                            h6 Все готово!
                                            p Свет, дороги,
                                                br
                                                |документы
        include _footer